.btn {
  --color: #2f4f4f;
  --color2: white;
  /* padding: 0.8em 1.75em; */
  padding: 8px 5px;
  background-color: transparent;
  border-radius: 6px;
  border: 0.3px solid var(--color);
  transition: 0.5s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  font-weight: 300;
  font-size: 17px;
  font-family: "Roboto", "Segoe UI", sans-serif;
  text-transform: uppercase;
  color: var(--color);
}

.btn:hover {
  color: var(--color2);
  background-color: var(--color);
  transition: 0.5s ease-out;
}
.btn1{
    --color: #b8860b;
    --color2: white;
    /* padding: 0.8em 1.75em; */
    padding: 8px 5px;
    background-color: var(--color);
    border-radius: 6px;
    border: 0.3px solid var(--color);
    transition: 0.5s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    font-weight: 300;
    font-size: 17px;
    font-family: "Roboto", "Segoe UI", sans-serif;
    text-transform: uppercase;
    color: var(--color2);
  }
  
  .btn1:hover {
    color: var(--color2);
    background-color: var(--color);
    transition: 0.5s ease-out;
  }
  .btn2 {
    --color: maroon;
    --color2: white;
    /* padding: 0.8em 1.75em; */
    padding: 8px 5px;
    background-color: var(--color);
    border-radius: 6px;
    border: 0.3px solid var(--color);
    transition: 0.5s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    font-weight: 300;
    font-size: 17px;
    font-family: "Roboto", "Segoe UI", sans-serif;
    text-transform: uppercase;
    color: var(--color2);
  }
  
  .btn2:hover {
    color: var(--color2);
    background-color: var(--color);
    transition: 0.5s ease-out;
  }
  
  